/*//////////////////////////////////////////
** MOBILE RESPOSIVENESS
/////////////////////////////////////////*/
@media (max-width: 768px) {
	html,
	body {
		overflow-x: hidden!important;
	}
	nav.navbar {
	    position: fixed;
	    top: 0;
	    left: 0;
   		z-index: 1000;
   		background: rgb(255,255,255)!important;
   		padding-bottom: 2rem;
   		height: 50px;
	}
	.navbar-toggler {
		border: none!important;
	}
	.nav-link {
		color: #333!important
	}
	.nav-link:hover {
		color: #d8670b!important;
	}
	.nav-link::after {
		top: 10%;
		left: 0;
		background: #333;
		transform: translateY(0) translateX(-100%) rotate(-90deg)!important;
		transform-origin: left;
		transition: all 150ms ease-in-out;
	}
	.nav-item:hover .nav-link::after {
		transform: translateX(0);
		margin-left: -30px;
	}
	.nav-item:hover .nav-link {
		transform: translateX(30px);
	}
	header,
	.hero,
	.hero__row
	{
		align-items: flex-start!important;
		overflow-x: hidden!important;
		overflow-y: auto!important;
	}
	.hero {
		width: 100%;
	}
	.hero__row {
		flex-direction: column-reverse!important;
	}
	.hero__col {
		padding: 0!important;
		width: 100%!important;
		align-items: flex-start!important;
	}
	.hero__col:nth-child(1) {
		padding: 2rem!important;
		padding-top: 0!important;
		padding-bottom: 10rem!important;
	}
	.hero__col:nth-child(2) {
		padding-top: 2rem!important;
	}
	.hero__title,
	.hero__subtitle,
	.hero__desc {
		margin-left: 0!important;
	}
	.hero__title {
		font-size: 1.5rem;
		font-weight: 500;
	}
	.hero__subtitle {
		font-size: 0.8rem;
	}
	.hero__desc {
		font-size: 14px;
	}
}